<!-- search.component.html -->
<div class="relative mx-4 " (document:click)="closeDropdown()">
  <input type="text"
    class="border bg-[#090c11] focus:bg-white/[0.04] border-gray-900 text-gray-400 p-2 md:w-32 md:hover:w-auto focus:w-auto rounded-lg  transition-all hover:duration-1000 ease-in-out"
    [(ngModel)]="query" (input)="onInputChange()" (click)="toggleDropdown($event)" placeholder="Search..." />

  <div *ngIf="resultados.length > 0 && isDropdownOpen"
    class="absolute mt-2 bg-black/[0.75] text-white rounded-lg shadow-lg z-10 w-auto ">
    <ul class="rounded-lg">
      <li *ngFor="let result of resultados" class="hover:bg-white/[0.05] cursor-pointer p-4"
        (click)="showLyrics(result)">
        {{ result.title }} - {{ result.artist_names }}
      </li>
    </ul>
  </div>
</div>
